@import url(https://fonts.googleapis.com/css?family=Glegoo);
@import url(https://fonts.googleapis.com/css?family=Arvo);

#header {
    display: flex;
    flex-direction: row;
}

#contactForm {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

#header .nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg,#699793, #4e8f89 50%, #3c8f86 100%); 
    z-index: 0;
    border-bottom-color: black;
    border-bottom-width: 100em; 
    font-family: 'Glegoo';
}

.nav-list {
    display: flex;
    margin: 0 0 0 0;
    list-style: none;
}

.nav-list a {
    display: block;
    font-size: 6vw;
    padding-left: 3vw;
    padding-right: 2vw;
    text-decoration: none;
    color:black;
}

.nav-list a:hover{
    background-color: #699793;
    border-color: black;
    border-left: 10px;
}

.headshot {
    border-radius: 50%;
    width:6vh;
    height:6vh;
    z-index: 1;
    position: relative;
    left: 10px;
    top: 2px;
    border-color: white;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.9);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#content {
    flex: 1;
    overflow: auto;
    margin-top: 5em;
    margin-bottom: 10em;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
}

#footer li{
    float: left;
    margin-bottom: 1vw;
    margin-right: 6vw;
    font-family: 'Glegoo';
    font-size: 5vw;
}

@media only screen and (min-width: 850px) {
    #content {
        margin-top: 8em;
        margin-bottom: 10em;
        margin-left: 20vw;
        margin-right: 20vw;
        font-size: 2.5vh
    }

    .nav-list a {
        font-size: 2.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #footer li{
        margin-bottom: 1rem;
        margin-left: 0rem;
        margin-right: 2.5rem;
        font-size: 1.4rem;
    }

    .nav-list {
        margin: 0 0 0 auto;
    }

}

@media only screen and (orientation: landscape) and (max-width: 850px) {
    #content {
        margin-top: 5em;
        margin-bottom: 10em;
        margin-left: 0.1vw;
        margin-right: 0.1vw;
    }

    .headshot {
        width:6vw;
        height:6vw;
    }

    .nav-list a {
        font-size: 4vw;
        padding-left: 3vw;
        padding-right: 2vw;
    }

    #footer li{
        margin-bottom: 1vw;
        margin-right: 10vw;
        font-size: 3vw;
    }
}

.position {
    margin-top: 1em;
    font-weight: 600;
}

.positionDescription {
    border-style: solid;
    border-width: 0.01em;
    border-color: black;
    padding-bottom: 1em;
    padding-top: 1em;
}


body {
    background-color: rgba(69,97,93,0.15);
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-family: 'Arvo';
    font-weight: 600;
    letter-spacing: 0.01em;
}

#footer{
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: rgba(69,97,93);
    color: white;
}

#footer ul {
    list-style: none;
}

#footer a {
    text-decoration: none;
    color: white;
}


#footer li:hover{
    text-decoration: underline;
}

.nav-list .current-page {
    text-decoration: underline;
}