@import url(https://fonts.googleapis.com/css?family=Glegoo);

.header {
    display: flex;
    flex-direction: row;
}

header .nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg,#699793, #4e8f89 50%, #3c8f86 100%); 
    z-index: 0;
    border-bottom-color: black;
    border-bottom-width: 100em; 
    font-family: 'Glegoo';
}

.nav-list {
    display: flex;
    margin: 0 0 0 auto;
    list-style: none;
}

.nav-list a {
    display: block;
    font-size: 3.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-list a:hover{
    background-color: #699793;
    border-color: black;
    border-left: 10px;
}

.headshot {
    border-radius: 50%;
    width:5vh;
    height:5vh;
    z-index: 1;
    position: relative;
    left: 10px;
    top: 2px;
    border-color: white;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.9);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

body {
    margin-top: 4rem;
    margin-bottom: 6rem;
    background-color: rgba(69,97,93,0.15);
}

p {
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 2vh
}

.footer{
    bottom: 0;
    position: fixed;
    width: 110%;
    background-color: rgba(69,97,93);
    margin-left: -0.5%;
    color: white;
}

.footer ul {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer li{
    float: left;
    padding: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 2.5rem;
    font-family: 'Glegoo';
    font-size: 1.4rem;
}

.footer li:hover{
    text-decoration: underline;
}