

@font-face {
    font-family: 'arvobold';
    src: url('/css/fonts/arvo-bold-webfont.woff2') format('woff2'),
         url('/css/fonts/Arvo-Bold.ttf') format('ttf'),
         url('/css/fonts/arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arvobold_italic';
    src: url('/css/fonts/arvo-bolditalic-webfont.woff2') format('woff2'),
         url('/css/fonts/Arvo-BoldItalic.ttf') format('ttf'), 
         url('/css/fonts/arvo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arvoitalic';
    src: url('/css/fonts/arvo-italic-webfont.woff2') format('woff2'),
         url('/css/fonts/Arvo-Italic.ttf') format('ttf'),
         url('/css/fonts/arvo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arvoregular';
    src: url('/css/fonts/arvo-regular-webfont.woff2') format('woff2'),
         url('/css/fonts/Arvo-Regular.ttf') format('ttf'),
         url('/css/fonts/arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}